@model adoProject.Models.itineriario

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Itineriario</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.origen, "Origen")
        </div>
        <div class="editor-field">
            @Html.DropDownList("origen", String.Empty)
            @Html.ValidationMessageFor(model => model.origen)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.destino, "Destino")
        </div>
        <div class="editor-field">
            @Html.DropDownList("destino", String.Empty)
            @Html.ValidationMessageFor(model => model.destino)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.horasalida, "Hora de salida")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.horasalida)
            @Html.ValidationMessageFor(model => model.horasalida)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.estimadohrs, "Horas estimadas")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.estimadohrs)
            @Html.ValidationMessageFor(model => model.estimadohrs)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
